.gym {
  padding-top: 120px;
  padding-bottom: 120px;
  color: $color-sapphire;
  display: grid;
  grid-template-columns: 35.76% 56.9%;
  gap: 85px;
  align-items: flex-start;

  @include vp-1199 {
    display: block;
    padding-top: 96px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 66px;
    padding-bottom: 70px;
  }
}

.gym__wrapper {
  @include vp-1199 {
    padding-top: 13px;
  }

  @include vp-767 {
    padding-top: 11px;
    margin: 0 -15px 0;
  }
}

.gym__description {
  padding-top: 43px;
  padding-left: 60px;

  @include vp-1199 {
    margin: 0 auto;
    padding: 0;
    max-width: 502px;
    text-align: center;
  }

  @include vp-767 {
    text-align: start;
  }
}

.gym__description h2 {
  font-family: "Bebas Neue", "Tahoma", sans-serif;
  font-size: 49px;
  line-height: 49px;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin: 0 0 12px;

  @include vp-1199 {
    font-size: 42px;
    line-height: 42px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 32px;
    margin: 0 0 9px;
  }
}

.gym__description p {
  font-family: "Roboto Condensed", "Arial Narrow", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  margin: 0 0 30px;

  @include vp-767 {
    margin: 0 0 23px;
  }
}

.gym__description span {
  display: block;
  margin-top: 8px;

  @include vp-1199 {
    display: none;
  }
}

.gym__description strong {
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  display: block;
  margin-bottom: 40px;

  @include vp-1199 {
    margin-bottom: 35px;
  }

  @include vp-767 {
    margin-bottom: 0;
  }
}

.gym__image {
  @include vp-1199 {
    max-width: 900px;
    margin: 0 auto;
  }

  @include vp-767 {
    margin-bottom: 40px;
    max-width: 532px;
  }
}

.gym__image img {
  display: block;
  width: 100%;
  height: 100%;
}
